<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DBConnectionManager Bean -->
    <bean id="dbConnectionManager" class="DBConnectionManager"/>
    <aop:aspectj-autoproxy/>
	<bean id="loggingAspect" class="LoggingAspect"/>

</beans>
